/* the color teme for the webpage designgs */
/* color:
#f03c1d 
#003e75
*/
/********************************************/

html{
    font-size: 62%;
 }
 
 body{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4rem;
 }

 body::-webkit-scrollbar{
  display: none;
 }
 /*for the header nav-codes_designs*/
 header{
    width: 90%;
    margin: 0 auto;
   }

   .bg-dark{
      background: transparent !important;
   }

   .active{
      border-bottom: 3px solid #f03c1d;
   }

   .logo-wdth{
      width: 6%;
   }

   .justify-content-end{
      gap: 1.8rem;
   }

   .justify-content-end li a{
      font-size: 1.6rem;
      width: 100%;
   }

   ul,
   li{
      list-style: none;
   }

   .navbar-nav-flex-box li a{
      font-size: 1.6rem;
   }

   .hover:after{
      content: '';
      width: 0;
      height: 2px;
      background: #f03c1d;
      display: block;
      margin: auto;
      transition: 0.5s;
      color: #fff;
   }

   .hover:hover::after{
      width: 100%;
   }
   
/*for the header nav-codes_designs*/

a{
   text-decoration: none;
}

 footer{
   background-color: #003e75;
   border-top-right-radius: 1.8rem;
   border-top-left-radius: 1.8rem;
   padding-bottom: 4.4rem;
 }

.footer-flex{
   width: 90%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

.footer-flex h3{
   color: #fff;
   font-size: 3.8rem;
   margin: 0 auto;
   margin-top: 4.4rem;
   margin-bottom: 1.6rem;
   text-align: center;
   width: 65%;

}

.footer-flex2{
   display: flex;
   gap: 1.8rem;
}

.footer-flex2 p{
   font-size: 1.6rem;
   color: #fff;
   margin-bottom: 1.2rem;
}

.footer-btn{
   display: flex;
   gap: 14rem;
}

.footer-btn a{
   padding: 0.5rem 1.2rem;
   font-size: 1.6rem;
   margin-bottom: 1.6rem;
}

.ft-btn1:link,
.ft-btn1:visited{
   color: #fff;
   background-color: #f03c1d;
   border: 2px solid #f03c1d;
   border-radius: 1.8rem;
}

.ft-btn1:hover,
.ft-btn1:active{
   transition: 1s;
   color: #f03c1d;
   background: transparent;
}

.ft-btn2:link,
.ft-btn2:visited{
   color: #f03c1d;
   background: transparent;
   border: 2px solid #f03c1d;
   border-radius: 1.8rem;
}

.ft-btn2:hover,
.ft-btn2:active{
   transition: 1s;
   color: #fff;
   background: #f03c1d;
}

.ft-icon{
   color: #f03d1d50;
   font-size: 2rem;
}

@media(max-width: 1023px){

}

@media(max-width: 767px){
   .footer-flex h3{
      font-size: 2.8rem;
   }

   .offcanvas{
      background-color: none;
      filter: blur(2px) !;
   }

   .logo-wdth{
      width: 10% !important;
   }
}